<h2>¿En qué momento lo disfrutas más?</h2>
<form action="/products/forms" method="POST">
    <label for="">Desayuno</label>
    <br>
    <input type="radio" name="secondStepEat" value="Desayuno">
    <br>
    <label for="">Almuerzo</label>
    <br>
    <input type="radio" name="secondStepEat" value="Almuerzo">
    <br>
    <label for="">Merienda</label>
    <br>
    <input type="radio" name="secondStepEat" value="Merienda">
    <br>
    <label for="">Cena</label>
    <br>
    <input type="radio" name="secondStepEat" value="Cena">
    <br>
    <input type="submit" value="Siguiente">
</form>