<h2>¿Qué preferís?</h2>
<form action="/products/forms" method="POST">
    <input type="radio" name="firstStepEat" value="Salado">Salado
    <br>
    <input type="radio" name="firstStepEat" value="Dulce">Dulce
    <br>
    <input type="submit" value="Siguiente">
</form>