<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Regalex</title>
</head>

<body>
    <h2 id="titulo-especial">¿No sabés qué regalar?<span> <br> </span> Nosotros te ayudamos</h2>
    <div class="container-home">
        <div class="title-home">
            <h1>Regalex</h1>
            <!-- <p>Descripción</p> -->
        </div>
        <div class="forms-redirect">
            <div class="links-home">
                <a href="https://formfaca.de/sm/-85WuTBy7">No quiero fallar</a>
                <a href="https://formfaca.de/sm/Rg5hHgokI">Me siento confiado</a>
            </div>
            <p class="aclaracion">*Te enviaremos las recomendaciones por mail</p>
        </div>
    </div>
</body>

</html>