<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Regalex</title>
</head>

<body>
    <h2 id="titulo-especial">¿No sabés qué regalarle a tu papá? Nosotros te ayudamos</h2>
    <div class="container-home">
        <div class="title-home">
            <h1>Regalex</h1>
            <!-- <p>Descripción</p> -->
        </div>
        <div class="forms-redirect">
            <p><span class="bold">¡Conocé más a tu papá!</span> Enviale el cuestionario que está acá abajo para que lo complete. Podés ir llenándolo con él y de paso conocer más acerca de sus gustos y aficiones.</p>
            <a href="https://formfaca.de/sm/-85WuTBy7">No quiero fallar</a>
            <p><span class="bold">¡Llenalo vos mismo!</span> Si pensás que tu papá jamás complementaria un cuestionario o ya lo conoces demasiado, respondé las preguntas por él.</p>
            <a href="https://formfaca.de/sm/Rg5hHgokI">Me siento confiado</a>

            <p class="aclaracion">*Te enviaremos las recomendaciones por mail</p>
        </div>
    </div>
</body>

</html>