<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <form action="/products/" method="POST" class="form-radio">
        <input type="text" name="" id="">HOLA
    </form>
</body>

</html>
